.button {
  color: $main-color-accent;
}

.overlay {
  max-width: 1440px;
  margin: auto;
}

.modal {
  max-width: 1000px;
  overflow: hidden;
  gap: 15px;
}

.slide {
  @include flex(center, center, column);
  max-width: 100%;
  min-height: 500px;
  height: fit-content;
  overflow: hidden;
  background-color: rgb(170, 125, 125);

  @include mobile {
    min-height: 200px;
    max-height: 250px;
  }
}

.img-zoom {
  border-radius: 20px;
  max-width: 1100px;
  width: 100%;
  max-height: 500px;
  object-fit: contain;

  @include tablet {
    max-width: 700px;
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
    min-height: 500px;
    height: fit-content;
    max-height: 500px;
  }
}
