CTP_PROJECT_KEY=test108
CTP_CLIENT_SECRET=4_fS6wMqjfMtfCQc-wFR0QHaJ4enBKm5
CTP_CLIENT_ID=wZ15LRDWkCiUnEHoWGAGFvYp
CTP_AUTH_URL=https://auth.us-central1.gcp.commercetools.com
CTP_API_URL=https://api.us-central1.gcp.commercetools.com
CTP_SCOPES=manage_customers:test108 manage_customer_groups:test108 manage_tax_categories:test108 manage_types:test108 manage_my_quotes:test108 manage_products:test108 manage_my_quote_requests:test108 manage_categories:test108 manage_orders:test108 manage_shopping_lists:test108 manage_cart_discounts:test108 manage_shipping_methods:test108 manage_my_shopping_lists:test108 manage_payments:test108 manage_project_settings:test108 manage_discount_codes:test108 manage_order_edits:test108 manage_my_profile:test108 manage_my_payments:test108 view_attribute_groups:test108 create_anonymous_token:test108 manage_my_orders:test108 manage_extensions:test108