.menuBlock {
  @include flex(center, space-between, row);
  gap: 20px;
  background-color: transparent;

  transition: all 0.3s linear;
}

.menuBlock.menuBlockActive {
  transform: translateX(100%);
}

@media screen and (min-width: 1000px) {
  .menuBlock.menuBlockActive {
    transform: translateX(0);
  }
}

.menuWrapper,
.userWrapper {
  @include flex(center, space-between, row);
  gap: 20px;
}

.userWrapper {
  display: none;
}

.menuBtn {
  position: relative;
  font-size: 15px;
  font-weight: 700;
  color: $header_menuBtn_color;

  cursor: pointer;

  &::after {
    position: absolute;
    top: 100%;
    left: 50%;
    z-index: 2;
    display: block;
    content: '';
    width: 0;
    height: 2px;
    background-color: $header_menuBtn_color;
    transition: all 0.3s linear;

    transform: translateX(-50%);
    opacity: 0;
  }
}

@media screen and (max-width: 1000px) {
  .backgroundWrapper.wrapperActive {
    position: absolute;
    z-index: 20;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: rgba($color: $header_menuBtn_color, $alpha: 0.5);
  }

  .menuWrapper,
  .userWrapper {
    @include flex(center, space-between, column);
    gap: 20px;
    padding: 0 0 10px 0;
    border-bottom: 1px solid $header_border_color;
  }

  .userWrapper {
    display: flex;
  }

  .menuBlock {
    padding: 20px 90px;
    position: fixed;
    height: 100vh;
    z-index: 20;
    top: 130px;
    right: 100%;
    transform: translateX(0);
    background-color: #fff;

    flex-direction: column;
    justify-content: flex-start;
    gap: 20px;

    border: 1px solid $header_dropmenu_border_color;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  }

  .menuBtn {
    position: relative;
    font-size: 25px;
  }

  @media screen and (max-width: 650px) {
    .menuBlock {
      top: 70px;
    }

    .backgroundWrapper.wrapperActive {
      top: 0;
    }
  }

  @media not all and (hover: none) {
    .menuBtn:hover::after {
      width: 100%;
      opacity: 1;
    }
  }
}
