.wrapper {
  @include flex(center, space-between, column);
  border: 1px solid #ddd;
  padding: 20px;
}

.img_wrapper {
  @include flex(center, center, column);
  width: 290px;
  height: 290px;
  overflow: hidden;
}

.img_Height {
  width: auto;
  height: 290px;
}

.img_Width {
  width: 290px;
  height: auto;
}

.title {
  font-size: 20px;
  color: brown;
}

.description {
  font-size: 15px;
  color: rgb(87, 47, 47);
}

.price {
  font-size: 20px;
  color: rgb(99, 99, 99);
}
