.wrapper {
  @include flex(center, flex-start, column);
  width: 100%;
  height: fit-content;
  gap: 20px;

  opacity: 0;
  animation: slideIn 1s forwards;
}

.title {
  text-transform: uppercase;
  color: $main-color-accent;
  font-size: 32px;
  font-weight: bold;
}

.description {
  width: 80%;
  text-align: center;
  color: $main-color-accent;
  font-size: 20px;
}

.cards_wrapper {
  @include flex(center, start, column);
  gap: 20px;
  width: 100%;
}

.card {
  position: relative;
  height: 100%;
  width: 80%;
  border-radius: 20px;

  @include tablet {
    width: 100%;
    margin-top: 100px;
  }

  &_even {
    align-self: flex-start;
    opacity: 0;
    transform: translateX(100%);
    animation: slideIn 1s forwards;
  }

  &_odd {
    align-self: flex-end;
    opacity: 0;
    transform: translateX(-100%);
    animation: slideIn 1s forwards;
  }
}

.card_content {
  @include flex(stretch, start, column);
  background-color: $color-light;
  min-height: 300px;
  width: 100%;
  border-radius: 25px;
  padding: 25px;
  padding-right: 100px;
  font-size: 20px;
  @include tablet {
    align-items: center;
    text-align: center;
    padding: 100px 20px 20px;
    height: 100%;
  }

  &_odd {
    padding-left: 100px;
    @include tablet {
      padding-left: 20px;
    }
  }

  &_name {
    font-size: 25px;
  }
}

.photo {
  position: absolute;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background-color: $color-light-gray;
  right: -75px;
  top: calc(30% - 75px);

  @include tablet {
    right: calc(50% - 75px);
    top: -70px;
  }

  &_odd {
    left: -75px;
    @include tablet {
      left: initial;
    }
  }
}

@keyframes slideIn {
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
