.section {
  margin: 0 auto;
  max-width: 1440px;
  width: 100%;
  min-height: 100vh;
  @include flex(center, space-between, column);
}

.main {
  width: 100%;
  height: 100%;
  padding: 60px;
  @include flex(center, center, column);

  @media (width <=500px) {
    padding: 20px;
  }
}
