input,
button {
  border: 1px solid black;
}

.login-block {
  width: 100%;
  max-width: 400px;
  margin: 0 auto;

  .login-form {
    display: flex;
    flex-direction: column;
  }

  .input-container {
    position: relative;
    display: flex;
    flex-direction: column;
    width: inherit;
  }
}

.toggle-password-visibility {
  width: 20px;
  height: 20px;
  position: absolute;
  right: 1%;
  top: 50%;
  cursor: pointer;
  background: center / contain no-repeat;

  input[type='text'] + & {
    background-image: url('../../../assets/opened-eye.svg');
  }

  input[type='password'] + & {
    background-image: url('../../../assets/closed-eye.svg');
  }
}
