* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 0;
  list-style: none;
  font: inherit;
  -webkit-tap-highlight-color: transparent;
}

ul,
p,
h1,
h2,
h2,
h4 {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

b {
  font-weight: bold;
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

html {
  scroll-behavior: smooth;
}
