@mixin mainFont($fontSize) {
  font-size: $fontSize;
  font-weight: 400;
}

@mixin flex($align: stretch, $justify: flex-start, $direction: row) {
  display: flex;
  flex-direction: $direction;
  align-items: $align;
  justify-content: $justify;
}

@mixin tablet {
  @media (max-width: $tablet-width) {
    @content;
  }
}

@mixin mobile {
  @media (max-width: $mobile-width) {
    @content;
  }
}

// @mixin important {
//   @each $property, $value in & {
//     #{$property}: #{$value} !important;
//   }
// }
