$page404_border_color_button: #aa4e41;
$page404_text_color_button_hover: #fff;

$header_menuBtn_color: #aa4e41;
$header_background_color: #faf4f4;
$header_dropmenu_border_color: #bb6363;
$header_dropmenu_borderLinks_color: #000000;
$header_border_color: #707070;

$main-color-accent: #aa4e41;
$color-light: #faf4f4;
$color-white: #ffffff;
$color-dark-gray: #707070;
$color-gray: #d8d8d8;
$color-light-gray: #efefef;
$main-color-error: #d82700;

$footer_cat_titles_color: #aa4e41;
$footer_links_color: #707070;

$card_title_color: #000000;
$card_read_more_btn_color: #aa4e41;
$card_price_throgh_color: #818181;

$product_description_color: #707070;
$product_border_img: #aa4e41;

$card_sumBlock_color: #000000;

$tablet-width: 1100px;
$mobile-width: 600px;
