$page404_border_color_button: #aa4e41;
$page404_text_color_button_hover: #fff;

$header_menuBtn_color: #aa4e41;
$header_background_color: #faf4f4;
$header_dropmenu_border_color: #bb6363;
$header_dropmenu_borderLinks_color: #000000;
$header_border_color: #707070;

$main-color-accent: #aa4e41;
$color-light: #faf4f4;
$color-white: #ffffff;
$color-dark-gray: #707070;
$color-gray: #d8d8d8;
$color-light-gray: #efefef;
$main-color-error: #d82700;

$footer_cat_titles_color: #aa4e41;
$footer_links_color: #707070;
