$page404_border_color_button: #aa4e41;
$page404_text_color_button_hover: #fff;

$header_menuBtn_color: #aa4e41;
$header_background_color: #faf4f4;
$header_dropmenu_border_color: #d9d9d9;
$header_dropmenu_borderLinks_color: #000000;
