.main {
  width: 100%;
  @include flex(center, center, column);
  gap: 20px;
}

.links {
  position: relative;
  cursor: pointer;

  font-size: 20px;
  font-weight: 400;

  &::after {
    position: absolute;
    top: 120%;
    left: 50%;
    z-index: 2;
    display: block;
    content: '';
    width: 0;
    height: 2px;
    background-color: $header_dropmenu_borderLinks_color;
    transition: all 0.3s linear;

    transform: translateX(-50%);
    opacity: 0;
  }
}

.main__section {
  width: 100%;
  padding: 80px 50px;
  display: flex;
  gap: 15px;
  border-radius: 30px;
  background-image: url(../../../assets/main-image2.webp);
  background-size: 100%;
  background-position: center;
}

.main__sectionLinks {
  display: flex;
  gap: 15px;
}

.main__sectionTitle {
  font-size: 48px;
}

.main__sectionText {
  padding: 20px;
  max-width: 400px;
  border-radius: 20px;
  background-color: rgba(250, 244, 244, 0.9);
}

.video_wrapper {
  position: relative;
  @include flex(center, center, column);
  width: 100%;
  height: 400px;
  overflow: hidden;
  border-radius: 30px;
  // background-image: url(../../../assets/main-image2.webp);
  // background-size: 100%;
  // background-position: center;
  background: url('../../../assets/video-preview.png') center/cover no-repeat;
}

.video_content {
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.img_content {
  width: 100%;
  height: 100%;
  background: url('../../../assets/img-main-slide.webp') center/cover no-repeat;
}

.video_title_wrapper {
  // position: absolute;
  // z-index: 2;
  // top: 50%;
  // left: 50%;
  @include flex(center, center, column);
  width: 20%;
  height: 20%;
  border-radius: 30px;
  background-color: rgba(250, 244, 244, 0.9);
  position: relative;
  z-index: 3;
}

.video_title {
  font-size: 30px;
  color: #000000;
}

@media (width <=768px) {
  .main__section {
    padding: 50px 20px;
  }

  .main__sectionTitle {
    font-size: 33px;
  }

  .main__sectionText {
    max-width: 250px;
  }
}

@media not all and (hover: none) {
  .links:hover::after {
    width: 100%;
    opacity: 1;
  }
}
